<!-- <h1>About</h1> -->

<div class="author">
    <h1 class="author__heading">Hi, I am Kalthom.</h1>
    <p class="author__body">Web developer and AI engineer.</p>
</div>
  
<img src="/img/diverse-young-people-being-digital-nomads-working-remotely-from-dreamy-locations_23-2151187902.jpg" alt="working woman" class="page-image" width="981" height="528">
  