<a href="/contact">&larr; Back</a>
<div class="success-message">
    <h1>Thank You!</h1>
    <p>Your message has been sent. We'll get back to you shortly.</p>
    <!-- <a href="/">&larr; Back</a> -->
  </div>
  