<div class="author">
  <h1 class="author__heading">Welcom to NodeJS Blog!</h1>
  <p class="author__body">Dive into the world of web development, and build your skills with Node.js.</p>
</div>

<img src="/img/beautiful-palm-tree.jpg" alt="beautiful palm tree" class="page-image" width="981" height="528">

<section class="articles">

  <!-- <h2 class="articles__heading">Latest Posts</h2> -->

  <% if (current === 1) { %>
    <h2>Latest Posts</h2>
  <% } else { %>
    <h2>Oldest Posts</h2>
  <% } %>

  <ul class="article-ul">

    <% data.forEach(article => { %>
      <li>
        <a href="/article/<%= article._id %>">
          <span> <%= article.title %></span>
          <span class="article-list__date"><%= article.createdAt.toDateString() %></span>
        </a>
      </li>
     
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
  
</section>

