<div class="author">
  <h1 class="author__heading">Hi, I am Kalthom.</h1>
  <p class="author__body">Web developer and AI engineer.</p>
</div>

<img src="/img/beautiful-palm-tree.jpg" alt="beautiful palm tree" class="palm-image" width="981" height="528">

<section class="articles">

  <h2 class="articles__heading">Latest Posts</h2>

  <ul class="article-ul">

    <% data.forEach(article => { %>
      <li>
        <a href="/article/<%= article._id %>">
          <span> <%= article.title %></span>
          <span class="article-list__date"><%= article.createdAt.toDateString() %></span>
        </a>
      </li>
     
    <% }) %>
  </ul>

  <% if (nextPage !== null) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
  <% } %>
  
</section>